<p class="text-uppercase text-success fw-bold">ajouter une tache</p>
<form class="p-2" [formGroup]="formTodo" (ngSubmit)="onSubmit()">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <label for="name" class="form-label">Name</label>
        <input
          type="text"
          id="name"
          class="form-control"
          placeholder="Todo name"
          formControlName="name"
        />
      </div>
      <div class="col-12 offset-2 col-md-4">
        <label for="time" class="form-label">Time</label>
        <input
          formControlName="time"
          type="time"
          id="time"
          class="form-control"
        />
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12 col-md-6">
        <label for="note" class="form-label">Note</label>
        <input
          formControlName="note"
          type="text"
          id="note"
          class="form-control"
          placeholder="Todo note"
        />
      </div>

      <div class="col-12 col-md-6">
        <label for="groupManager" class="form-label">Manager</label>
        <input
          formControlName="groupManager"
          type="text"
          id="groupManager"
          class="form-control"
          placeholder="Todo manager"
        />
      </div>
    </div>
    <div class="mt-4 text-end">
      <button
        [disabled]="formTodo.invalid"
        [ngClass]="formTodo.invalid ? 'bg-danger-subtle' : 'bg-success-subtle'"
        class="text-uppercase btn btn-outline-success"
      >
        create
      </button>
    </div>
  </div>
</form>
